## Debit Card Verification

TransferNow verifies a user’s ownership of an external debit card using two below methods: 

<div class="card-body">
    <ul>
    <li>Address Verification and CVV validation </li>
    <li>Real-time Trial Deposits on the Debit card. </li>
    </ul>
</div>

<style>
    
    .card-body {
        margin: 20px;
    }
    .card-body ul {
        list-style: none;
        padding-left: 20px;
    }
    .card-body ul li::before {
        content: "\2022";
        font-size: 1em;
        color: #f60;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }
</style>



