/* EDL Override Styles */

/* Override EDL select style for ADA */
.fdl-select:after {
    display: none;
}
/*End::For select dropdown*/

/*Start::ADA compatibility*/
a {
    color: #3d7ab7;
}

.btn-primary {
    background: #3d7ab7;
}

/*End::ADA compatibility*/

/*FDL Radio Buttons customised*/
/*link for FDL radio buttons https://cdwapgst2021.ips-sendero.com/fdl/#/nav-3-child-item-0 */
.radio {
    margin-top: 0 !important;
    min-height: 20px;
    padding-top: 5px !important;
}

    .radio input[type='radio'] {
        position: absolute;
        left: -9999px;
        display: inline;
    }

        .radio input[type='radio']:checked:hover + label::before {
            padding: 2px;
        }

        .radio input[type='radio'] + label::before {
            padding: 2px;
            position: absolute;
            left: 0;
            top: 0;
        }


        .radio input[type='radio']:checked + label::before {
            font-size: 12px;
            width: 18px;
            padding: 2px;
        }

        .radio input[type='radio']:checked:focus:hover + label::before {
            color: #fff;
        }

        .radio input[type='radio']:checked:focus + label::before {
            font-size: 12px;
            width: 18px;
            padding: 2px;
            color: #757575;
        }

    .radio label span {
        padding-left: 30px;
        font-size: 1.2rem;
        display: block;
    }

    .radio input[type='radio'] + label {
        position: relative;
        display: inline-block;
    }
	
	.radio input[type='radio']:focus + label::before {
		border-color: #69c;
		box-shadow: 0 0 2px 2px rgba(56, 102, 195, 0.47);
		color: #fff;
		border-radius: 40px;
	}


.checkbox input[type='checkbox'] + label::before {
    font-size: inherit;
}

/*End FDL Radio Buttons customised*/


/*A11y EDL Checkbox fixes */
/*Checkbox Radio*/
.checkbox input[type='checkbox'] {
    display: block;
    opacity: 0;
    position: absolute;
    left: -9999px;
}

.checkbox input[type='checkbox'] + label::before {
    font-size: 16px;
    position: absolute;
    top: 1px;
    left: 0;
}

.checkbox input[type='checkbox']:checked:focus + label::before {
    color: #767675;
}

.checkbox input[type='checkbox']:checked:hover:focus + label::before {
    color: #fff;
}

.checkbox input[type='checkbox']:checked:focus + label::before , .checkbox input[type='checkbox']:focus + label::before, .checkbox input[type='checkbox']:checked + label::before, .checkbox input[type='checkbox']:checked:hover + label::before {
    content: '\E876';
    speak: none;
}

.checkbox input[type='checkbox'] + label::before {
    content: '\E047';
    speak: none;
}

.radio label span, .checkbox label span {
    padding-left: 30px;
}

/*End::A11y EDL Checkbox fixes */