/* Menu */

body{ background:#eeeeee;}
.contact_wrapper{ background:#fff; width:830px; height:auto; margin:0px auto; padding:30px;}
.mobmenu{ height:48px; background:#ff6600; width:100%;  }
.mobmenu ul.menu{width:100%;  margin:0px auto;padding:0 50px; }
.mobmenu ul.menu li{ float:left;}
.mobmenu ul.menu li a{ float:left; color:#fff; text-decoration:none; padding:15px 20px; font-weight:bold; font-size:15px;}
.mobmenu ul.menu li a.active, .mobmenu ul.menu li a:hover{ background:#000;}
.bank_header{ background:#fff; float:left; width:100%;}
.header_section{width:100%;  margin:0px auto; padding:0 40px; }
.bank_top_menu{ float:left; width:100%; margin-top:15px;}
.bank_top_menu ul{ float:right; margin-right:20px;}
.bank_top_menu ul li{ float:left;}
.bank_top_menu ul li a{ float:left; color:#333333; font-size:13px;}
.bank_top_menu ul li a:hover{ text-decoration:none;}
.bank_top_menu ul li a img{ float:left; margin-right:4px; margin-top:-6px;}
.bank_top_menu ul li span{ float:left; font-size:12px; padding:0px 10px;}
.bank_logo{ float:left; padding:0px 10px 10px;}
.bank_logo a{ float:left;}
.bank_logo a img{ float:left;}

@media only screen and (max-width: 700px) {
	#ust {
		position: absolute;
		height: 53px;
		top: 0;
		left: 0;
		right: 0;
	}
	#ust #menuac {
		position: absolute;
		top: 7px;
		right: 10px;
		cursor: pointer;
		padding: 19px 30px 20px 10px;
		z-index:999;
	}
	#ust #menuac span {
		cursor: pointer;
		height: 3px;
		width: 23px;
		background: #c9c9c9;
		position: absolute;
		display: block;
		content: '';
		transition: all 500ms ease-in-out;
	}
	#ust #menuac span:before {
		cursor: pointer;
		height: 3px;
		width: 23px;
		background: #c9c9c9;
		position: absolute;
		display: block;
		content: '';
		top: -7px;
		transition: all 500ms ease-in-out;
	}
	#ust #menuac span:after {
		cursor: pointer;
		height: 3px;
		width: 23px;
		background: #c9c9c9;
		position: absolute;
		display: block;
		content: '';
		bottom: -7px;
		transition: all 500ms ease-in-out;
	}
	#ust #menuac.acik span {
		background-color: transparent;
	}
	#ust #menuac.acik span:before {
		top: 0px;
		transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		bottom: 0;
	}
	#ust #menuac.acik span:after {
		top: 0;
		transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	.mobmenu {
		position: fixed;
		left: -300px;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		transition: all 0.5s ease;
		width: 300px;
		height: 100%;
		z-index: 9;
		display: block;
		top:53px;
	}
	.mobmenu.mobmenu-acik {
		left: 0;
		-webkit-box-shadow: 10px 0px 26px -16px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 0px 26px -16px rgba(0,0,0,0.75);
		box-shadow: 10px 0px 26px -16px rgba(0,0,0,0.75);
		top:53px;
	}
	.mobmenu ul.menu {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.mobmenu ul.menu li a {
		padding: 10px;
		display: block;
		list-style: none;
		color: #fff;
		border-bottom: 1px solid #ddd;
	}
	#icerik {
		padding: 50px 10px 10px 10px;
		border: 1px solid #ddd;
		height: 1000px;
		background: #fff;
	}
	body{ background:#fff;}
	.bank_top_menu{ display:none;}	
	.header_section{ width:auto; padding:0px;}
	.contact_wrapper{ width:auto; padding:0px;}
	.mobmenu ul.menu{width:auto;}
	.mobmenu ul.menu li a, .mobmenu ul.menu li{ float:none;}
	.bank_logo a img{ width:200px; height:43px;}
	.bank_logo{ padding:5px 10px 5px;}
	.bank_frame{  margin:0px auto; position:relative;}
}

@media screen and (min-width: 700px) and (max-width: 830px) {
	.header_section{ width:auto;}
	.mobmenu ul.menu li a{ padding:15px 8px; }
	.contact_wrapper{ width:auto; padding:20px;}
	.mobmenu ul.menu{ width:auto;}
}

ul li {list-style-type: none;}
.container{ background:#fff;}
.navbar-default{border-color:#fff;}

.terms-container .row.terms > div[class~="col-xs-12"]{ background:#fff;}
.terms-container .custom-btn{ bottom:85px;}
.footer{ padding:5px 0px;}


@media (min-width: 768px){
	.terms-container{ 
		top:156px;
	}
}